@charset "utf-8";

html {
  overflow-y: initial !important;
}

.inline-block {
  display: inline-block;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.embed-container {
  margin-bottom: 1.5em;
}

.fancybox-container {
  z-index: 9999999 !important;
}

.fancybox-content.xlsx_viewer,
.fancybox-content.docx_viewer {
  height: 100% !important;
  overflow: visible;
  padding: 0;
  width: 100% !important;
}